<!DOCTYPE html>
<html>
<head>
	<title>Stocks - Managing Your Stocks</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>	
	
	<header class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<%= link_to 'Stocks', root_path, id: "logo" %>
				<nav>
					<ul class="nav pull-right">
						<li><%= link_to 'View all stocks', root_path %></li>
						<li><%= link_to 'Create new stock', new_stock_path %></li>
						<li><%= link_to 'Help', help_path %></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>

	<div class="container center">
		<%= yield %>
	</div>
</body>
</html>
